.header_ul_li {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  composes: p-5 from global, mr-2 from global;
  border-radius: calc(var(--offset-base-size) * 10);
  cursor: pointer;
}

.header_ul_li_b {
  composes: pl-2 from global, text from global, text_type_main-small from global;
}

.header_ul_li:not(:hover, .active) svg {
  fill: var(--color-sub);
}

.header_ul_li:not(:hover, .active) b {
  color: var(--color-sub);
}
